// start variables
$main_font : 'Work Sans', sans-serif;

$red_color : #FF3946;
$main_color : #314584;
$normal_color : #6E757A;

$transition_time : 0.3s;

$nav_bar_height : 70px;
// end variables


// Start GLobal 




html {
    scroll-behavior: smooth;
  }
  

*,h1,h2,h3,a,ul,li,button,span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $main_font;

}
a{
    text-decoration: none;
    color: $main_color;
    font-weight: 600;
    padding: 15px;
    transition: color $transition_time;
    &:hover{
        color: $red_color;
    }
}
// container start
.container{
    margin: 0 auto;
    padding: 10px 20px;
    height: calc(100% - 20px);
    // background-color: grey;

}

.section_title{
    color: $main_color;
    letter-spacing: 3px;
}
.para{
    color: $main_color;
    line-height: 25px;
    font-weight: 500s;
}
.section_but{
    background-color: $red_color;
    color: #fff;
    border: 1px solid $red_color;
    transition: background-color .3s;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    width: max-content;
    padding: 20px 40px;
    &:hover{
        color: $red_color;
        background-color: #fff;

    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .container{
        width: 540px;
        // background-color: grey;

    
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .container{
        width: 720px;
        // background-color: red;

    
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container{
        width: 960px;
        // background-color: black;    
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container{
        width: 1140px;
        // background-color: blueviolet;

    
    }
 }
 // container End

// End GLobal rules


// main nav bar start
 #main_nav{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    
    .container{
        position: relative;
        display: flex;
        height: $nav_bar_height;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    } 
    // mobile button nav: start
    #mb_nav_but{
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        // background: black;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover span{
            background-color: $red_color;
            
        }
        
        span{
        display: block;
        height: 4px;
        width: 80%;
        border: 0px;
        border-radius: 10px;
        background-color: $main_color;
        margin: 5px auto;
        transition:  0.3s;
        transform-origin: 0 100%
        
        }
   


    }
    

    // mobile button nav: end



    .logo{
        flex-grow: 1;
        img{
            width: 70px;
        }
    }

    .other_nav_items{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .nav_links{
        text-transform: capitalize;

        ul{
            list-style: none;
        }
        li{
            display: inline-block;
            margin: 0 10px;
        }
      
    }
    .top_contact_us_but{
        color: $red_color;
        background-color: #fff;
        padding: 10px 20px;
        border: 0px;
        transition: .5s;
        font-weight: 600;
        cursor: pointer;
        width: 170px;
        height: 50px;
        box-shadow: 0px 4px 6px -4px;        

        &:hover{
            color: $main_color;
            
            box-shadow: 0px 4px 6px -4px;        

        }

    }
 }
 @media (max-width: 992px) { 
   #main_nav{
        .container{
            min-height: $nav_bar_height;
            max-height: 100vh;
            display: block;
             overflow: hidden;
             transition: 0.5s;

        }
        .logo{
            height: 50px;
        }
   
        .other_nav_items{
            // display: none;
            height: 0px;
            flex-direction: column;
            padding: 20px 0;
            font-size: 2rem;
            text-align: center;
            padding-left: 10%;
            transition: height 0.5s;
            justify-content: flex-start;
            
            
        }
        .mb_nav_is_open{
            // display: block;


        }
        .nav_links li {
            display: block;
            margin: 20px 0;
        }
        .top_contact_us_but{
            width: auto;
            height: auto;
        }
        #mb_nav_but{
            display: block;

        }

        .span_nav_on{
            span:nth-child(3){
                 transform: rotate( -45deg) translate(2px, 1px);
             }
            span:nth-child(1){
                 transform: rotate( 45deg) translate(0px, 0px);
             }    
            span:nth-child(2){
                 opacity: 0;
             }
         }

        
    }
 }
// main nav bar End



// home section start



#home{
    height: calc(100vh - 70px);
    overflow: hidden;
    margin-top: $nav_bar_height;
    position: relative;
    display: flex;
    align-items: center;
    .home_image{
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 520px;

        img{
            width: 100%;
            
        }
        
    }
    .container{
        display: flex;
        align-items: center;
        

    }
    .home_content{
        width: 50%;
    }

    .section_title{
        font-size: 4rem;
        font-weight: 600;
    }
    .para{
        color: $normal_color;
        margin: 30px 0;

    }
    .section_but{
        
        margin-right: 30px;

    }
    @media (max-width: 992px) { 
        .home_content{
            width: 80%;
        }
        .home_image{
            top:10vh;
            right: -70px;
            width: 50%;
        }
        .para{
            width: 70%;
        }
    }
    @media (max-width: 768px) { 
        .section_title{
            font-size: 3rem;
        }
        .home_image{
            width: 60%;
        }
        .para{
            width: 60%;
        }
        
    }
    @media (max-width: 540px) { 
        .home_image{
            display: none;
        }
        .home_content{
            text-align: center;
            width: 100%;
        }
        .para{
            width: 100%;
        }


        
    }



}
// home section end

//  about section start 
#about{
    height: calc(200vh - 70px);
    position: relative;
    margin-top: 100px;
    
    
    
    .back_img{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 310px;
        height: 100%;
    }
    
        

    .first_about{
    
        height: 100vh;
        display: flex;
        align-items: center;

        
        div{
            height: 70%;
            
            img{
                width: 60px;
                height: 60px;
            }
        }
     
        

        .about_title{
            width: 35%;
            margin-right: 40px;
            .section_title{
                font-size: 2rem;
                margin-bottom: 40px;
            }
        }
        .item{
            padding: 40px;
        }
        .about_items{
            width: 65%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
            grid-column-gap: 20px;
            .about_item{
                height: 100%;
                box-shadow: 0px 3px 5px  rgb(208,208,208);
                transition: 0.5s;
                &:hover{
                    box-shadow: 0px 3px 5px  rgb(182, 182, 182);

                }
                .section_title{
                    font-size: 1.5rem;
                    margin: 20px 0px;
                }
            }
            
           
        }

        @media (max-width: 992px){
            
                flex-direction: column;
                .about_items,.about_title{
                    width: 100%;
                }
                .about_title{
                    text-align: center;
                }
            
            
            
        }
    

      }
       
        

    }







//  about section end 

.hell{
    width: 100%;
    height: 100vh;
    .item{
        border: 1px solid black;
        &:nth-child(1){
            background-color: red;
        }
    }
}

