html {
  scroll-behavior: smooth;
}

*, h1, h2, h3, a, ul, li, button, span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #314584;
  font-weight: 600;
  padding: 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #FF3946;
}

.container {
  margin: 0 auto;
  padding: 10px 20px;
  height: calc(100% - 20px);
}

.section_title {
  color: #314584;
  letter-spacing: 3px;
}

.para {
  color: #314584;
  line-height: 25px;
  font-weight: 500s;
}

.section_but {
  background-color: #FF3946;
  color: #fff;
  border: 1px solid #FF3946;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px 40px;
}

.section_but:hover {
  color: #FF3946;
  background-color: #fff;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.shadow_to_nav {
  -webkit-box-shadow: 0px 3px 14px -7px #31458463;
          box-shadow: 0px 3px 14px -7px #31458463;
}

#main_nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
}

#main_nav .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_nav #mb_nav_but {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#main_nav #mb_nav_but:hover span {
  background-color: #FF3946;
}

#main_nav #mb_nav_but span {
  display: block;
  height: 4px;
  width: 80%;
  border: 0px;
  border-radius: 10px;
  background-color: #314584;
  margin: 5px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

#main_nav .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#main_nav .logo img {
  width: 70px;
}

#main_nav .other_nav_items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_nav .nav_links {
  text-transform: capitalize;
}

#main_nav .nav_links ul {
  list-style: none;
}

#main_nav .nav_links li {
  display: inline-block;
  margin: 0 10px;
}

#main_nav .top_contact_us_but {
  color: #FF3946;
  background-color: #fff;
  padding: 10px 20px;
  border: 0px;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 600;
  cursor: pointer;
  width: 170px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 6px -4px;
          box-shadow: 0px 4px 6px -4px;
}

#main_nav .top_contact_us_but:hover {
  color: #314584;
  -webkit-box-shadow: 0px 4px 6px -4px;
          box-shadow: 0px 4px 6px -4px;
}

@media (max-width: 992px) {
  #main_nav .container {
    min-height: 70px;
    max-height: 100vh;
    display: block;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #main_nav .logo {
    height: 50px;
  }
  #main_nav .other_nav_items {
    height: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    font-size: 2rem;
    text-align: center;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #main_nav .nav_links li {
    display: block;
    margin: 20px 0;
  }
  #main_nav .top_contact_us_but {
    width: auto;
    height: auto;
  }
  #main_nav #mb_nav_but {
    display: block;
  }
  #main_nav .span_nav_on span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(2px, 1px);
            transform: rotate(-45deg) translate(2px, 1px);
  }
  #main_nav .span_nav_on span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
            transform: rotate(45deg) translate(0px, 0px);
  }
  #main_nav .span_nav_on span:nth-child(2) {
    opacity: 0;
  }
}

#home {
  height: calc(100vh - 70px);
  overflow: hidden;
  margin-top: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home_image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 520px;
}

#home .home_image img {
  width: 100%;
}

#home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home_content {
  width: 50%;
}

#home .section_title {
  font-size: 4rem;
  font-weight: 600;
}

#home .para {
  color: #6E757A;
  margin: 30px 0;
}

#home a {
  display: inline-block;
}

@media (max-width: 992px) {
  #home .home_content {
    width: 80%;
  }
  #home .home_image {
    top: 10vh;
    right: -70px;
    width: 50%;
  }
  #home .para {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #home .section_title {
    font-size: 3rem;
  }
  #home .home_image {
    width: 60%;
  }
  #home .para {
    width: 60%;
  }
}

@media (max-width: 540px) {
  #home .home_image {
    display: none;
  }
  #home .section_but {
    padding: 20px 30px;
  }
  #home .home_content {
    text-align: center;
    width: 100%;
  }
  #home .para {
    width: 100%;
  }
}

#about {
  position: relative;
  margin-top: 100px;
}

#about .section_title {
  font-size: 2rem;
  margin: 25px 0px;
}

#about .back_img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
}

#about .first_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

@media (max-width: 768px) {
  #about .first_about {
    height: auto;
  }
}

#about .first_about div {
  height: 70%;
}

#about .first_about div img {
  width: 60px;
  height: 60px;
}

#about .first_about .about_title {
  width: 35%;
  margin-right: 40px;
}

#about .first_about .item {
  padding: 40px;
}

#about .first_about .about_items {
  width: 65%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

#about .first_about .about_items .about_item {
  height: 100%;
  -webkit-box-shadow: 0px 3px 5px #d0d0d0;
          box-shadow: 0px 3px 5px #d0d0d0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about .first_about .about_items .about_item:hover {
  -webkit-box-shadow: 0px 3px 5px #b6b6b6;
          box-shadow: 0px 3px 5px #b6b6b6;
}

#about .first_about .about_items .about_item .section_title {
  font-size: 1.5rem;
  margin: 20px 0px;
}

@media (max-width: 992px) {
  #about .first_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .first_about .about_items, #about .first_about .about_title {
    width: 100%;
  }
  #about .first_about .about_title {
    text-align: center;
    margin-right: 0px;
  }
}

#about .second_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .second_about img {
  width: 50%;
}

#about .second_about .second_about_content {
  margin-left: 40px;
}

#about .second_about .second_about_content .section_title {
  width: 70%;
}

@media (max-width: 992px) {
  #about .second_about .second_about_content .section_title {
    width: 100%;
  }
}

#about .second_about .second_about_content span {
  color: #FF3946;
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  #about .second_about {
    display: block;
    height: auto;
  }
  #about .second_about img {
    width: 100%;
  }
  #about .second_about .second_about_content {
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
  }
}

/*
1/ in mobile nav version links note aligne corectly == ok
2/ in home secion red button and other links is so colose = ok
3/ in mobile version add gap when grid transorm to  = ok
4/ in mobile version when click on lik show section and hide the nav bars == ok
4.1/ fix bug hear when nav is on normal size and click on a links = ok
5/ add shadow to nav when scolling down == ok
6/ rmove the white space betwen the sections
*/
/*# sourceMappingURL=main.css.map */